:root {
    --distanceBetweenButtons: 0.5rem;
    --animationDuration: 300ms;
    --colorNormal: rgb(110,132,163);
    --colorActive: #232d4f;
    --marginRight: 1.5rem;
    --marginLeft: 2rem;
    --marginRightValue: 3rem;
    --marginRightArrowDropdown: 1.5rem;

    --sidebarWidth: 15rem;
}

.sidebar-dropdownItem, .sidebarHeader {
    transition: var(--animationDuration);
    color: var(--colorNormal);
    padding-top: var(--distanceBetweenButtons);
}

.sidebar-dropdownItem {
    pointer-events: all;
}

.sidebar-dropdownItem:hover, .sidebarHeader:hover {
    transition: var(--animationDuration);
    color: var(--colorActive);
}

.sidebar-dropdownItem {
    padding-right: var(--marginRightValue);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.25rem;
}

.sidebarHeader{
    padding-left: var(--marginRight);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: start;
    width: 100%;
    cursor: pointer;
}

.dropdownContent {
    padding-left: 1.5rem;
    transition: var(--animationDuration);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.button {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
    position: relative;
    font-family: sans-serif;
    width: 100%;
    cursor: pointer;
    padding-left: 0rem;
    user-select: none;
}

.sidebarDropDownHeaderArrow {
    position: absolute;
    right: var(--marginRightArrowDropdown);
    font-size: 1.875rem;
    line-height: '2.25rem';
    font-weight: 100;
    transition: var(--animationDuration);
}

.headerIcon {
    font-size: 1.125rem;
    line-height: 1.75rem;
    transition: var(--animationDuration);
}

.headerButtonName {
    margin-left: 1rem;
    transition: var(--animationDuration);
}

.dropdownIcon {
    font-size: 1.125rem;
    line-height: 1.75rem;
    opacity: 0; 
    /* dropdown icon exists only for same margins as parent */
}

.dropdownInput {
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    position: "relative";
    left: '4rem';
    font-family: "monospace";
    padding-left: "10px";
}

.dropdownInput:focus {
    outline: none;
}

.dropdownInput:focus::placeholder {
    color: transparent;
}

.sidebar {
    width: var(--sidebarWidth);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    padding-top: 0.75rem;
    border-right-width: 1px;
}
.active:first-child {
    transition: var(--animationDuration);
    color: var(--colorActive);
}

.needHelp {
    /* text-start w-full pl-6 text-sm py-3 font-mono */
    text-align:start;
    width: 100%;
    padding-left: 24px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    font-family: monospace;
}