:root {
  --bodyBackground: linear-gradient(to bottom, rgb(34 211 238), rgb(168 85 247), rgb(236, 72, 153));
  --elementWidth: 80%;
  --elementsMarginRight: 3.5rem;
  --buttonBackground: linear-gradient(to right, rgb(34 211 238), rgb(168 85 247), rgb(236, 72, 153));
}

.loginButton {
  background: var(--buttonBackground);
}

.fullScreenDiv {
  background: var(--bodyBackground);
}

.loginCard > * {
  margin-right: var(--elementsMarginRight);
  width: var(--elementWidth);
}

#forgotPassword,
.loginButton,
.loginHeader,
.loginOptions {
  margin-left: calc(
    var(--elementsMarginLeft) / 2
  ) !important; /* Do not change. "Forgot password" inscribtion has no container, so only half of margin */
}
