.dropdownItem,
.dropdownHeader {
  transition: var(--animationDuration);
  color: var(--colorNormal);
  padding-top: var(--distanceBetweenButtons);
}

.dropdownItem {
  pointer-events: all;
}

.dropdownItem:hover,
.dropdownHeader:hover {
  transition: var(--animationDuration);
  color: var(--colorActive);
}

.dropdownItem {
  padding-right: var(--marginRightValue);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.25rem;
}

.dropdownHeader {
  padding-left: var(--marginRight);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
  pointer-events: auto;
}

.dropdownHeaderArrow {
  position: absolute;
  right: var(--marginRightArrowDropdown);
  font-size: 1.875rem;
  line-height: "2.25rem";
  font-weight: 100;
  transition: var(--animationDuration);
}

.dropdownContent {
  padding-left: 1.5rem;
  transition: var(--animationDuration);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.dropdownHeaderIcon {
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition: var(--animationDuration);
}

.dropdownHeaderButtonName {
  margin-left: 1rem;
  transition: var(--animationDuration);
}

.dropdownIcon {
  font-size: 1.125rem;
  line-height: 1.75rem;
  opacity: 0;
  /* dropdown icon exists only for same margins as parent */
}

.dropdownInput {
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  position: "relative";
  left: "4rem";
  font-family: "monospace";
  padding-left: "10px";
}

.dropdownInput:focus {
  outline: none;
}

.dropdownInput:focus::placeholder {
  color: transparent;
}
